body {
  background-color: cadetblue;
  text-align: -webkit-center;
}

.container {
  padding: 3rem;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  width: 50%;
  height: 20rem;
}
